@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100vh;

    background-color: white;

    font-family: 'Space Grotesk', sans-serif;
    font-size: 17.4px
}

@media screen and (min-width:1024px) {
    html,body{
        width: auto;
    }
}

.top{
    width: 100%;
    height: 200px;
    background: url('../images/bg-main-mobile.png') top center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom:calc(50px + 10vh);
}

@media screen and (min-width:1024px) {
    .top{
        height:651px;
        max-width: calc(250px + 10vh + 5vw);
        background: url('../images/bg-main-desktop.png')left center;
        background-size: cover;
        margin-bottom: 0;
    }
}

.cards{
    width: 320px;
    position: relative;
    margin: auto;
}

@media screen and (min-width:1024px) {
    .cards{
        width: 400px;
        position: absolute;
        top: 30%;
        left:calc(10vh + 5vw - 24px);
    }
}


.infor-card-back,
.card-back{
    width: 250px;
    position: absolute;
    right: 10px;
    top: 30px;
}

@media screen and (min-width:1024px){
    .infor-card-back,
    .card-back{
        width: 300px;
        top: 150px;
        left: 11vw;
    }
}

.infor-card-back span{
    position: absolute;
    right: 30px;    
    top: 60px;

    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.193);
    font-size: 10px;
}

@media screen and (min-width:1024px) {
    .infor-card-back span{
        top: 74px;
        right: 40px;
    }
}

.logo-card{
    position: absolute;
    top: 105px;
    left: 10px;
    z-index: 1;

    margin: 15px;
    width: 50px;
}

@media screen and (min-width:1024px) {
    .logo-card{
        left: 20%;
        top: -40px;

        margin: 20px;
        width: 50px;
    }
}

.infor-card-front,
.card-front{
    width: 250px;
    position: absolute;
    top: 105px;
    left: 10px;
}

@media screen and (min-width:1024px) {
    .infor-card-front,
    .card-front{
        width: 300px;
        left: 5.5vw;
        top: -40px;

        font-size: 21px;
    }
}


.infor-card-front{
    color: white;

    text-transform: uppercase ;
    font-weight: 500;

    margin-top: 50px;
    padding: 18.6px;
}

.number-card{
    display:block;
    text-align: center;
    margin-bottom: 10px;

    letter-spacing: 1px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.289);
}

@media screen and (min-width:1024px) {
    .number-card{
        margin-top: 10px;
    }
}

.date{
    display: block;
    text-align: right;
    margin-top: -14px;
}

.date,
.people-name{
    text-shadow: 1px 1px rgba(0, 0, 0, 0.168);
    font-size: 9px;
}

@media screen and (min-width: 1024px) {
    .date{
        margin-top: -18px;
    }

    .date,
    .people-name{
        font-size: 12px;

        margin-left:6px;
        margin-right: 6px;
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1024px) {
    main{
        flex-direction: row;
        align-items: normal;
        justify-content: left;
    }
}

@media screen and (min-width:1024px) {
    .principal{
        padding-top: 10vw;
        position: absolute;
        left: calc(500px + 5vw);
    }

    .register-on,
    .confirm-on{
        width: 40vw;
        position: relative;
        
    }
}

.principal{
    margin: 30px;
}

.button,
.big-box{
    width: 100%;
}

.normal-box{
    width: 45%;
}

.small-box{
    width: 20%;
    margin-right: 6.3%;
}

input,
.button{
    height: 45px;
    border-radius: 7px;
    border: 1px solid  hsl(270, 3%, 87%);
}

.box-infor{
    text-transform: uppercase;
    font-size: 11.5px;
    letter-spacing: 2px;
    font-weight: 600;
    color: hsl(278, 68%, 11%);
}

.box-cvc{
    padding-left: 30%;
}

.button{
    background-color: hsl(278, 68%, 11%);
    color: white;
    font-size: 13px;
    font-weight: 600;

    cursor: pointer;
}

input{
    padding-left: 15px;
}

input, .box-infor, .button{
    margin: 8px 0px 16px;
}

.button:hover{
    background-color:  hsl(270, 60%, 24%);
}

.confirm-off,
.register-off{
    display: none;
}

.confirm-on{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vw;
}

@media screen and (min-width: 1024px) {
    .confirm-on{
        padding-top: 5vw;
        width: 40vw;
    }
}

.icon-complete{
    margin-top: -20px;
    margin-bottom: 20px;
    width: calc(50px + 5vw);
}

@media screen and (min-width:1024px) {
    .icon-complete{
        width: 120px;
    }
}

.big-mensage{
    color: hsl(278, 68%, 11%);
    font-size: calc(24px + 2vw);
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media screen and (min-width:1024px) {
    .big-mensage{
        font-size: 36px;
    }
}

.small-mensage{
    font-size: calc(12px + 2vw);
    letter-spacing: .5px;
    color: hsl(279, 6%, 55%);
    margin-bottom: 25px;
}


@media screen and (min-width:1024px){
    .small-mensage{
        font-size: 18px;
    }
}